/* utilities */

.pointer {
    cursor: pointer;
}

.rounded-4 {
    border-radius: 10px;
}

.w-13 {
    width: 13%;
}

.w-30 {
    width: 30%;
}

.h-80px {
    height: 80px;
}

.bg-white {
    background-color: white;
}

.bg-blue-light {
    background-color: rgb(158, 217, 248);
}

.bg-grey-light {
    background-color: rgb(234, 234, 234);
}

.bg-grey-light-2 {
    background-color: rgb(250, 250, 250);
}

.bg-grey-light-3 {
    background-color: rgb(248, 249, 251);
}

.bg-brown-light {
    background-color: rgb(238, 234, 230);
}

.font-grey {
    color: rgb(177, 177, 177);
}

.font-grey-dark {
    color: rgb(102, 102, 102);
}

.font-blue-light {
    color: rgb(158, 217, 248); 
}

.fs-7 {
    font-size: 0.8rem;
}

.fs-8 {
    font-size: 0.6rem;
}

/* main */
#main-background {
    background: linear-gradient(to top, rgb(220, 219, 211) 85%, rgb(65, 148, 136) 15%);
    height: 100vh;
}

#main-section {
    height: calc(100vh - 48px);
}

/* left side */
.user-name img, .user-icon i {
    vertical-align: middle;
}

.user-name span  {
    line-height: 80px;
}

.notice-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
}

.contacts-section {
    height: calc(100% - 49px - 160px);
    overflow-y: auto;
}

.contact:hover {
    background-color: rgb(233, 235, 235);
}

.active {
    background-color: rgb(233, 235, 235);
}

/* right side */
.sent {
    display: flex;
    justify-content: flex-end;
}

.sent .message {
    background-color: rgb(220, 247, 192);
}

.received {
    display: flex;
    justify-content: flex-start;
}

.received .message {
    background-color: white;
}

.message-section {
    height: calc(100% - 160px);
    background-image:url("../img/mine.jpg");
    overflow-y: auto;
}

.input-message input {
    height: 50px;
}

.arrow {
     visibility: hidden;
}

.message:hover .arrow {
    visibility: visible;
}

.delete {
    background-color: white;
    width: 160px;
}

.toggle-input {
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;  
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.received .bubble:before {
    content: "";
    position: absolute;
    right: 98%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid white;
    border-bottom: 10px solid transparent;
  }

  .sent .bubble:before {
    content: "";
    position: absolute;
    left: 98%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid rgb(220, 247, 192);
    border-bottom: 10px solid transparent;
  }
  