<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
        integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=='
        crossorigin='anonymous' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/locale/it.js"></script>
    <title>Boolzapp</title>
</head>

<body>
    <div id="root">
        <!-- background -->
        <div id="main-background" class="py-4">

            <!-- main section -->
            <div id="main-section" class="container">
                <div class="row h-100">

                    <!-- left side -->
                    <div class="col-4 h-100 gx-0">
                        <!-- user -->
                        <div
                            class="user-section d-flex justify-content-between align-items-center bg-grey-light p-2 h-80px">
                            <div class="user-name w-50">
                                <img :src="`./img/avatar${user.avatar}.jpg`" class="w-25 img-fluid rounded-circle"
                                    :alt="user.name">
                                <span class="mx-1">{{ user.name }}</span>
                            </div>
                            <div class="user-icon font-grey">
                                <i class="fas fa-circle-notch mx-2 fs-4 pointer"></i>
                                <i class="fas fa-comment-alt mx-2 fs-4 pointer"></i>
                                <i class="fas fa-ellipsis-v mx-2 fs-4 pointer"></i>
                            </div>
                        </div>
                        <!-- notice -->
                        <div
                            class="notice-section d-flex justify-content-start align-items-center p-2 bg-blue-light h-80px">
                            <div class="notice-icon rounded-circle text-center bg-white fs-5 font-blue-light mx-2">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="notice-message">
                                <div class="notice-message-top">Ricevi notifiche di nuovi messaggi</div>
                                <div class="notice-message-bottom fs-7"><a class="font-grey-dark" href="#">Attiva
                                        notifiche
                                        desktop</a></div>
                            </div>
                        </div>
                        <!-- input find -->
                        <div class="find-section p-2 bg-grey-light-2">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text bg-white border-end-0"><i
                                        class="fas fa-search font-grey"></i></span>
                                <input type="text" class="form-control border-start-0 fs-7"
                                    placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                        <!-- contacts -->
                        <div class="contacts-section bg-white">
                            <div class="contact d-flex justify-content-start p-2 pointer border-top h-80px"
                                v-for="(contact, index) in contacts" :key="index + contact.avatar"
                                @click="selectContact(index)">
                                <img :src="`./img/avatar${contact.avatar}.jpg`" class="img-fluid rounded-circle mx-2"
                                    :alt="contact.name">
                                <span class="mx-2">{{ contact.name }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- right side -->
                    <div class="col-8 h-100 gx-0">

                        <!-- contact right -->
                        <div
                            class="contact-right-section d-flex justify-content-between align-items-center bg-grey-light p-2 h-80px">
                            <div class="contact-right w-50 d-flex justify-content-start align-items-center p-2">
                                <img :src="`./img/avatar${contacts[activeNumber].avatar}.jpg`"
                                    class="w-13 img-fluid rounded-circle" :alt="contacts[activeNumber].name">
                                <div class="contact-name mx-2">
                                    <div class="contact-name-top">{{ contacts[activeNumber].name }}</div>
                                    <div class="contact-name-bottom fs-7 font-grey-dark">Ultimo accesso oggi alle</div>
                                </div>
                            </div>
                            <div class="user-icon font-grey">
                                <i class="fas fa-search mx-2 fs-4 pointer"></i>
                                <i class="fas fa-paperclip mx-2 fs-4 pointer"></i>
                                <i class="fas fa-ellipsis-v mx-2 fs-4 pointer"></i>
                            </div>
                        </div>

                        <!-- message section -->
                        <div class="message-section p-5">
                            <div class="chat" v-for="(item, index) in contacts[activeNumber].messages"
                                :key="index + item.date">
                                <div class="sent my-3" :class="item.status">
                                    <div class="message w-30 rounded-4 p-2">
                                        <div class="message-text fs-7">{{ item.message }}</div>
                                        <div class="message-date fs-8 font-grey text-end">{{ item.date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- input message -->
                        <div class="input-message-section bg-brown-light h-80px">
                            <div class="d-flex justify-content-between align-items-center h-100">
                                <div class="emoticon w-13 text-center fs-3 font-grey-dark pointer"><i
                                        class="far fa-smile"></i>
                                </div>
                                <div class="input-message w-75">
                                    <input type="text" class="form-control fs-7" placeholder="Scrivi un messaggio"
                                        v-model="inputMessage" v-on:keyup.enter="addMessage">
                                </div>
                                <div class="vocal w-13 text-center fs-3 font-grey-dark pointer"><i
                                        class="fas fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/data.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>